LOGO_API_URL=replace-with-your-logo-api-url
TEXT_TO_IMAGE_API_URL=https://text-to-img.apis-bj-devs.workers.dev/
TEXT_TO_VIDEO_BASE_URL=replace-with-your-text-to-video-base-url
TEXT_TO_VIDEO_AUTHORIZATION=replace-with-your-authorization-token
TEXT_TO_VIDEO_SIGN=replace-with-your-signature
TEXT_TO_VIDEO_DEVICE_ID=1b5336ed0297604a
TEXT_TO_VIDEO_VERSION=72
TEXT_TO_VIDEO_PT=
LOOKUP_API_URL=https://aerivue-95q3.onrender.com/lookup
LOOKUP_API_KEY=replace-with-your-lookup-api-key
WEB_TO_ZIP_API_URL=https://web-to-zip-api-nzwz.vercel.app/zip
